<div class="container">
  <!--Heading-->
  <header class="row justify-content-center p-5">
    <div class="col-4 col-lg-2">
      <img src="/assets/img/eat-da-burger-bust.svg" alt="A guy stuffing his face with a burger">
    </div>
    <div class="col-12 col-lg-5 d-flex flex-column justify-content-center">
      <h1 class="text-center text-lg-left">Eat&nbsp;Da Burger</h1>
      <form id="add-burger">
        <div class="form-group">
          <label for="burger-name">Burger name:</label>
          <div class="input-group">
            <input type="text" id="burger-name" class="form-control" name="burger-name" maxlength="75">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Submit Burger</button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </header>
  <!--Main-->
  <main class="row">
    <div class="col">
      <h2>Burgers To Be Devoured</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li data-id="{{id}}" data-newdevoured="true">
          Burger Name: {{burger_name}}
          Devoured: {{devoured}}
          <button class="devour">Devour!</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h2>Burgers Devoured</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          Burger Name: {{burger_name}}
          Devoured: {{devoured}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </main>
</div>